www.vmess.com {
        reverse_proxy /stream/ v2ray:31812
        root * /html
        file_server
}

www.vless.com {
        reverse_proxy /talk/ v2ray:31813
        root * /html
        file_server
}

:8080 {
        reverse_proxy /stream/ v2ray:31812
}

